//// Block Device I/O Transaction Per Minutes
////
//// Dashboard name must be "hostname,servicedesc".
//// Capture hostname / serviesdesc from dashboard name.
[% m = DASHBOARD_NAME.match("(.*),(.*)") %][% hostname = m.0 %][% servicedesc = m.1 -%]
////
//// Block name must be "*,measurement,target,unit".
//// Capture measurement / target from block name.
[% m = BLOCK_NAME.match(".*,(.*),(.*)") %][% measurement = m.0 %][% target = m.1 -%]
[% shortunit="tpm" %][% longunit="times" -%]
{
	"title": "Block Device \"[%target%]\" I/O Transaction in [%hostname%]",
	"id": 9999,
	"datasource": "[%GRAFANADATASOURCE%]",
	"_panel_relations": [
	    "[%measurement%] dev[[%target%]]-read-[%shortunit%]",
	    "[%measurement%] dev[[%target%]]-write-[%shortunit%]"
	],
	"isNew": true,
	"editable": true,
	"tooltip": { "shared": true, "value_type": "individual" },
	"type": "graph",
	"x-axis": true,
	"y-axis": true,
	"y_formats": [ "short" ],
	"grid": { "leftLogBase": 1, "leftMax": null, "leftMin": 0 },
	"gridPos": { "w": 12, "h": 6, "x": 0, "y": 1 },
	"legend": {
	    "show": true,
	    "values": true, "avg": true, "max": true, "min": true, "current": false, "total": false,
	    "rightSide": true, "alignAsTable": true, "sideWidth": 300,
	    "hideEmpty": true, "hideZero": false
	},
	"targets": [ {
	    "refId": "0001",
	    "dsType": "influxdb",
	    "resultFormat": "time_series",
	    "alias": "$col",
	    "groupBy": [ { "type": "time", "params": [ "$__interval" ] } ],
	    "measurement": "[%measurement%]",
	    "tags": [],
	    "select": [
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%].warn_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_warn_upper" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%].warn_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_warn_lower" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%].crit_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_crit_upper" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%].crit_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_crit_lower" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%]" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read txn/min" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%].warn_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_warn_upper" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%].warn_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_warn_lower" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%].crit_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_crit_upper" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%].crit_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_crit_lower" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%]" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write txn/min" ] } ]
	    ]
	} ],
	"nullPointMode": "connected"
}, {
	"title": "Block Device \"[%target%]\" I/O Transaction (Long Term Average) in [%hostname%]",
	"id": 9999,
	"datasource": "[%GRAFANADATASOURCE%]",
	"_panel_relations": [
	    "[%measurement%] longtermavg-of-dev[[%target%]]-read-[%longunit%]",
	    "[%measurement%] longtermavg-of-dev[[%target%]]-write-[%longunit%]"
	],
	"isNew": true,
	"editable": true,
	"tooltip": { "shared": true, "value_type": "individual" },
	"type": "graph",
	"x-axis": true,
	"y-axis": true,
	"y_formats": [ "short" ],
	"grid": { "leftLogBase": 1, "leftMax": null, "leftMin": 0 },
	"gridPos": { "w": 12, "h": 6, "x": 12, "y": 1 },
	"legend": {
	    "show": true,
	    "values": true, "avg": true, "max": true, "min": true, "current": false, "total": false,
	    "rightSide": true, "alignAsTable": true, "sideWidth": 300,
	    "hideEmpty": true, "hideZero": false
	},
	"targets": [ {
	    "refId": "0001",
	    "dsType": "influxdb",
	    "resultFormat": "time_series",
	    "alias": "$col",
	    "groupBy": [ { "type": "time", "params": [ "$__interval" ] } ],
	    "measurement": "[%measurement%]",
	    "tags": [],
	    "select": [
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%].warn_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_warn_upper" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%].warn_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_warn_lower" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%].crit_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_crit_upper" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%].crit_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_crit_lower" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%]" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read/min" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%].warn_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_warn_upper" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%].warn_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_warn_lower" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%].crit_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_crit_upper" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%].crit_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_crit_lower" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%]" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write/min" ] } ]
	    ]
	} ],
	"nullPointMode": "connected"
},
//// Block Device I/O Sectors Per Minutes
[% shortunit="spm" %][% longunit="sectors" -%]
{
	"title": "Block Device \"[%target%]\" I/O Sectors in [%hostname%]",
	"id": 9999,
	"datasource": "[%GRAFANADATASOURCE%]",
	"_panel_relations": [
	    "[%measurement%] dev[[%target%]]-read-[%shortunit%]",
	    "[%measurement%] dev[[%target%]]-write-[%shortunit%]"
	],
	"isNew": true,
	"editable": true,
	"tooltip": { "shared": true, "value_type": "individual" },
	"type": "graph",
	"x-axis": true,
	"y-axis": true,
	"y_formats": [ "short" ],
	"grid": { "leftLogBase": 1, "leftMax": null, "leftMin": 0 },
	"gridPos": { "w": 12, "h": 6, "x": 0, "y": 2 },
	"legend": {
	    "show": true,
	    "values": true, "avg": true, "max": true, "min": true, "current": false, "total": false,
	    "rightSide": true, "alignAsTable": true, "sideWidth": 300,
	    "hideEmpty": true, "hideZero": false
	},
	"targets": [ {
	    "refId": "0001",
	    "dsType": "influxdb",
	    "resultFormat": "time_series",
	    "alias": "$col",
	    "groupBy": [ { "type": "time", "params": [ "$__interval" ] } ],
	    "measurement": "[%measurement%]",
	    "tags": [],
	    "select": [
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%].warn_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_warn_upper" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%].warn_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_warn_lower" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%].crit_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_crit_upper" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%].crit_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_crit_lower" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-read-[%shortunit%]" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read sectors/min" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%].warn_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_warn_upper" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%].warn_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_warn_lower" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%].crit_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_crit_upper" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%].crit_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_crit_lower" ] } ],
		[ { "type": "field", "params": [ "dev[[%target%]]-write-[%shortunit%]" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write sectors/min" ] } ]
	    ]
	} ],
	"nullPointMode": "connected"
}, {
	"title": "Block Device \"[%target%]\" I/O Sectors (Long Term Average) in [%hostname%]",
	"id": 9999,
	"datasource": "[%GRAFANADATASOURCE%]",
	"_panel_relations": [
	    "[%measurement%] longtermavg-of-dev[[%target%]]-read-[%longunit%]",
	    "[%measurement%] longtermavg-of-dev[[%target%]]-write-[%longunit%]"
	],
	"isNew": true,
	"editable": true,
	"tooltip": { "shared": true, "value_type": "individual" },
	"type": "graph",
	"x-axis": true,
	"y-axis": true,
	"y_formats": [ "short" ],
	"grid": { "leftLogBase": 1, "leftMax": null, "leftMin": 0 },
	"gridPos": { "w": 12, "h": 6, "x": 12, "y": 2 },
	"legend": {
	    "show": true,
	    "values": true, "avg": true, "max": true, "min": true, "current": false, "total": false,
	    "rightSide": true, "alignAsTable": true, "sideWidth": 300,
	    "hideEmpty": true, "hideZero": false
	},
	"targets": [ {
	    "refId": "0001",
	    "dsType": "influxdb",
	    "resultFormat": "time_series",
	    "alias": "$col",
	    "groupBy": [ { "type": "time", "params": [ "$__interval" ] } ],
	    "measurement": "[%measurement%]",
	    "tags": [],
	    "select": [
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%].warn_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_warn_upper" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%].warn_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_warn_lower" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%].crit_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_crit_upper" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%].crit_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read_crit_lower" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-read-[%longunit%]" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "read sectors/min" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%].warn_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_warn_upper" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%].warn_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_warn_lower" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%].crit_upper" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_crit_upper" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%].crit_lower" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write_crit_lower" ] } ],
		[ { "type": "field", "params": [ "longtermavg-of-dev[[%target%]]-write-[%longunit%]" ] },
		  { "type": "mean",  "params": [] },
		  { "type": "alias", "params": [ "write sectors/min" ] } ]
	    ]
	} ],
	"nullPointMode": "connected"
}
