Source: grafana-dashboard-helper
Section: unknown
Priority: optional
Maintainer: frisky-gh <frisky-.-gh@watao3.info>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/grafana-dashboard-helper
#Vcs-Git: https://salsa.debian.org/debian/grafana-dashboard-helper.git
Rules-Requires-Root: no

Package: grafana-dashboard-helper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
